prompt.json
{
    "Comment": "An example of using Bedrock to chain prompts and their responses together.",
    "StartAt": "pergunte ideais de combinação",
    "States": {
      "pergunte ideais de combinação": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2::foundation-model/anthropic.claude-3-5-haiku-20241022-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Eu estou programando um jantar romântico, nesse jantar irei pedir um macarrão. Me dêuma lista de três itens que combinem uma experiência gastronômica."
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add first result to conversation history",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.content[0].text"
        }
      },
      "Add first result to conversation history": {
        "Type": "Pass",
        "Next": "pergunta ideias de bebida",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "pergunta ideias de bebida": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2::foundation-model/anthropic.claude-3-5-haiku-20241022-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "liste duas bebidas que acompanhe um jantar romântico"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add second result to conversation history",
        "ResultSelector": {
          "result_two.$": "$.Body.content[0].text"
        },
        "ResultPath": "$.result_two"
      },
      "Add second result to conversation history": {
        "Type": "Pass",
        "Next": "pergunte lugar ideal",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.prompt_two, $.result_two.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "pergunte lugar ideal": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2::foundation-model/anthropic.claude-3-5-haiku-20241022-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Liste um lugar perfeito para um jantar romântico em paris"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "End": true,
        "ResultSelector": {
          "result_three.$": "$.Body.content[0].text"
        }
      }
    }
  }